@import "../assets/scss/mixins";

.wrapper {
  background: transparent;
  max-width: 1170px;
  margin: 30px auto;
  position: relative;
  //overflow: hidden;
  //visibility: hidden;
  @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.15));
  @include border-radius(7px);
}
